GEMINI_API_KEY=
LITELLM_MASTER_KEY=sk-remplace-par-ta-vraie-cle
LITELLM_SALT_KEY=sk-remplace-par-une-cle-longue
LITELLM_PROXY_URL=http://localhost:4000
LITELLM_MODEL=gemini-agent
POSTGRES_PASSWORD=litellm_password
UI_USERNAME=admin
UI_PASSWORD=admin
