GEMINI_API_KEY=
GROQ_API_KEY=
HUGGINGFACE_API_KEY=
MISTRAL_API_KEY=
LITELLM_MASTER_KEY=sk-remplace-par-ta-vraie-cle
LITELLM_SALT_KEY=sk-remplace-par-une-cle-longue
LITELLM_PROXY_URL=http://localhost:4000
LITELLM_MODEL=gemini/gemini-2.5-flash-lite
API_LITELLM_MODEL=gemini/gemini-2.5-flash-lite
LITELLM_EMBEDDING_MODEL=gemini/gemini-embedding-001
EMBEDDING_DIMENSION=3072
QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION=portfolio_documents_3072
POSTGRES_PASSWORD=litellm_password
UI_USERNAME=admin
UI_PASSWORD=admin
